<h1> <%= @user.first_name %>'s Library</h1>
<% if @books.length == 0 %>
    <h4>Your library is empty! Click "New Book" to start adding to your library.</h4>
<% else %>
    <% @books.each do |book| %>
        <div class="column">
            <a href="/books/<%= book.id %>"><h3><%= book.title %></h3></a>
            <h4>By <%= book.author %></h4>
            <% unless book.status.nil? || book.status.empty? %>
                <h4>Status: <%= book.status %></h4>
            <% end %>
            <h4>Number of Notes: <%= book.notes.count %></h4>
        </div>
    <% end %>
<% end %>
