<h1><%= @book.title %></h1>

<div>
    <p>By <%= @book.author %></p>
    <% unless @book.status.nil? || @book.status.empty? %>
        <p>Status: <%= @book.status %></p>
    <% end %>
    <% unless @book.genre_id.nil? %>
        <p>Genre: <%= @genre.name %></p>
    <% end %>

</div>

<form method="get" action="/books/<%= @book.id %>/notes/new">
    <input type="submit" id="submit" value="Add Note">
</form>
<form method="get" action="/books/<%= @book.id %>/edit"> 
    <input type="submit" id="submit" value="Edit">
</form>
<form method="post" action="/books/<%= @book.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" id="submit" value="Delete">
</form><br>

<% if @book.notes.length > 0 %>
    <div class="notes">
        <br>
        <h2>Notes</h2>
        <% @book.notes.each do |note| %>
            <br><div class="date"><%= note.created_at.strftime("%b %d, %Y") %> </div>
            <p><%= note.content %></p>
            <div>
                <form method="get" action="/notes/<%= note.id %>/edit">
                    <input type="submit" id="submit" value="Edit Note">
                </form>
                <form method="post" action="/notes/<%= note.id %>/delete">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" id="submit" value="Delete Note">
                </form><br>
            </div><br>
        <% end %>
    </div>
<% end %>