<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Home Library</h1>

    <div class="content">
      <p>Welcome! <a href="/login">Log in</a> or <a href="/users/new">create an account</a> to get started!
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
        <li><b>Logged In User's ID:</b> <%= session[:user_id] %></li>
      </ul>
    </div>

  </div>
</div>
